.color {
  display: table-cell;
}

form {
  margin-top: 10px;
}

#pixel-board {
  display: grid;
  grid-template-columns: repeat(10, auto);
  justify-content: center;
  padding: 10;
  margin: 0;
  margin-top: 40px;
}

.div-line {
  margin: 0;
  padding: 0;
}

.pixel {
  display: inline-block;
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
} 
.centralizar {
  display: flex;
  justify-content: center;}

#preto {
  background-color: black;
  margin-left: 1%;
}

#color-1 {
  background-color: green;
  margin-left: 1%;
}

#color-2 {
  background-color: grey;
  margin-left: 1%;
}

#color-3 {
  background-color: burlywood;
  margin-left: 1%;
}

#header {
  display: flex;
  justify-content: center;
}

.square {
  width: 70px;
  height: 70px;
  margin: 2px;
  border: 1px solid black;
  display: inline-block;
}
#button-random-color {
  padding: 5px;
  font-size: 15px;
  border: 1px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#buttons-container {
  display: flex;
  font-size: 15px;
  justify-content: center;
  margin-block: 10px;
}


body {
background-image: url(https://images6.alphacoders.com/105/1050408.jpg);
background-size: cover;
}

header {
display: center;

}

.estilizando{
  color: aliceblue;
  text-decoration: double;
  text-overflow: inherit;
  text-decoration-color: aqua;
  text-shadow: 3px;
  text-decoration-style: wavy;
  background-image: repeating-linear-gradient(90deg,purple,aqua) ;
  border: 2px solid black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer{
  text-align: center;
  text-shadow: 10px;
  color: aliceblue;
  text-rendering: geometricPrecision;
  text-decoration: underline;
}

.player {
  background-image: repeating-linear-gradient(90deg,purple,aqua) ;
  width: 70px;
  height: 70px;
  margin: 2px;
  border: 1px solid black;
  display: flex;
}